<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>HTML FORMS</h2>
    <form action="/submit" method="post">
      <label for="science">Science</label><br />
      <input type="number" id="science" name="science" value="0"><br />
      <label for="Maths">Maths</label><br />
      <input type="number" id="maths" name="maths" value="6" /><br /><br />
      <label>C:</label><br />
      <input type="number" id="c" name="c" value="8" /><br /><br />
      <label for="datascience">Data Science: </label><br />
      <input
        type="number"
        id="datascience"
        name="datascience"
        value="8"
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <p>
      If you click the "Submit® button, the form-data will be sent to a page
      called “/submit".
    </p>
  </body>
</html>
