<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <h1>welcome to the index page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro accusantium velit harum illum dolorum dignissimos dolore, debitis voluptates aliquid totam praesentium, sit similique dolores natus ipsam facilis mollitia, laboriosam soluta!
    </p>
  </body>
</html>
