<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>welcome to the home page</h1>
    <h6>content resised</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum inventore at
      aliquam illo itaque suscipit id alias, qui molestiae ex aperiam non cumque
      commodi recusandae magnam. Neque accusantium eveniet dignissimos.
    </p>
  </body>
</html>
